*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./scss/base";
@import "./scss/typography";
@import "./scss/spacing";
@import "./scss/animations";
@import "./scss/header";
@import "./scss/hero";
@import "./scss/about";
@import "./scss/roadmap";
@import "./scss/tkn";
@import "./scss/team";

@import "./scss/footer";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: $bg-normal;
  padding-bottom: 200rem;
}

svg,
img {
  display: block;
  width: 100%;
}

.borda {
  border: 2px solid greenyellow;
}
