// Colors
$blue-light: #778da9;
$blue-normal: #415a77;
$blue-dark: #1b263b;

$bg-light: #fff;
$bg-normal: #e0e1dd;

// Responsive
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

@mixin responsive($device) {
  @if $device == xl {
    // For resolutions upper than 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // For resolutions beetwen 960px and 1140px
    @media screen and (max-width: $container-l) and (min-width: $container-m) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

a {
  text-decoration: none;
}

// Elements
.btn {
  border-radius: 2px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  text-decoration: none;

  font-family: "Quantico";
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  display: inline-block;

  transition: 0.5s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.btn-pri {
  background-color: #fff;
  color: #040718;
}

.btn-sec {
  background-color: #040718;
  color: #fff;
  display: -webkit-inline-box;
  img {
    margin-left: 1rem;
    max-width: 25px;
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 96px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  overflow: hidden;

  border: 1px solid red;

  @include responsive(s) {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 1 1 auto;
}

.w-auto {
  width: auto;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.hidden {
  overflow: hidden;
}
