// Tipografias
// Quantico
@mixin typeface-1($size, $device: desktop) {
  font-family: "Quantico", sans-serif;

  // h1
  @if $size == h1 and $device == desktop {
    font-size: 48px;
    line-height: 125%;
  } @else if $size == h1 and $device == mobile {
    font-size: 48px;
    line-height: 125%;
  }

  // H2
  @if $size == h2 and $device == desktop {
    font-size: 40px;
    line-height: 120%;
  } @else if $size == h2 and $device == mobile {
    font-size: 40px;
    line-height: 120%;
  }

  // H3
  @else if $size == h3 and $device == desktop {
    font-size: 40px;
    line-height: 100%;
  } @else if $size == h3 and $device == mobile {
    font-size: 40px;
    line-height: 120%;
  }

  // H4
  @else if $size == h4 and $device == desktop {
    font-size: 28px;
    line-height: 100%;
  } @else if $size == h4 and $device == mobile {
    font-size: 22px;
    line-height: 120%;
  }

  // h5
  @else if $size == h5 and $device == desktop {
    font-size: 20px;
    line-height: 100%;
  } @else if $size == h5 and $device == mobile {
    font-size: 20px;
    line-height: 100%;
  }
}

// Inter
@mixin typeface-2($size: p2, $device: desktop) {
  font-family: "Inter", sans-serif;

  // p1
  @if $size == p1 and $device == desktop {
    font-size: 18px;
    line-height: 130%;
  } @else if $size == p1 and $device == mobile {
    font-size: 16px;
    line-height: 130%;
  }

  // a
  @else if $size == a and $device == desktop {
    font-size: 24px;
    line-height: 130%;
  } @else if $size == a and $device == mobile {
    font-size: 20px;
    line-height: 130%;
  }
}

h1 {
  color: #fff;
  @include typeface-1(h1, desktop);
  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

h2 {
  color: $blue-dark;
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

h3 {
  color: white;
  @include typeface-1(h3, desktop);
  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
}

h4 {
  color: #040718;
  @include typeface-1(h4, desktop);
  @include responsive(s) {
    @include typeface-1(h4, mobile);
  }
}

h5 {
  color: $blue-dark;
  margin-bottom: 20px;
  @include typeface-1(h5, desktop);
  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}

p {
  @include typeface-2(p1, desktop);
  @include responsive(s) {
    @include typeface-2(p1, mobile);
  }
}

.link {
  color: tomato;
  font-weight: bold;
  @include typeface-2(a, desktop);
  @include responsive(s) {
    @include typeface-2(a, mobile);
  }
}

.txt-italic {
  font-weight: 800;
  font-style: italic;
}

.bold {
  font-weight: 700;
}
